@model Know.ASP.Objecto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Objecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animado.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animado.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Color1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.Genero1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Genero1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Obj }) |
    @Html.ActionLink("Back to List", "Index")
</p>
